In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

In [32]:
file_path = "../../tweet_emotions.csv"
data = pd.read_csv(file_path)

data.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

In [34]:
sns.countplot(x='sentiment', data=data)
plt.title('Distribution of Sentiment Classes')
plt.show()

NameError: name 'sns' is not defined

In [21]:
print("Missing Values:\n", data.isnull().sum())

Missing Values:
 tweet_id     0
sentiment    0
content      0
dtype: int64

In [22]:
data.shape

(40000, 3)

In [23]:
data['content'] = data['content'].str.lower()  # Convert text to lowercase
data['content'] = data['content'].str.replace('[^\w\s@#]', '')  # Remove special characters excluding '@' and '#'
data['content'] = data['content'].str.replace('\d+', '')  # Remove numbers

C:\Users\chanm\AppData\Local\Temp\ipykernel_26960\2411640645.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['content'] = data['content'].str.replace('[^\w\s@#]', '')  # Remove special characters excluding '@' and '#'
C:\Users\chanm\AppData\Local\Temp\ipykernel_26960\2411640645.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data['content'] = data['content'].str.replace('\d+', '')  # Remove numbers

In [24]:
label_encoder = LabelEncoder()
data['sentiment'] = label_encoder.fit_transform(data['sentiment'])

In [25]:
X_train, X_test, y_train, y_test = train_test_split(data['content'], data['sentiment'], test_size=0.2, random_state=42)

In [26]:
stop_words = ENGLISH_STOP_WORDS.union(['http', 'https', 'www'])  # Add custom stop words
vectorizer = TfidfVectorizer(stop_words=stop_words, max_features=5000)  # You can adjust max_features based on your dataset
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

In [27]:
data.head()

     tweet_id  sentiment                                            content
0  1956967341          2  @tiffanylue i know  i was listenin to bad habi...
1  1956967666         10  layin n bed with a headache  ughhhhwaitin on y...
2  1956967696         10                      funeral ceremonygloomy friday
3  1956967789          3                wants to hang out with friends soon
4  1956968416          8  @dannycastillo we want to trade with someone w...